.spacer{
    flex: 1 1 auto;
}

a{
    text-decoration: none;
    color: #fff
}
mouseHover:hover{
    background-color: rgba(1, 194, 98, 0.822);
    cursor: pointer;
    transition: all 0.7 ease-in-out;
}